{% extends 'base.html' %}
{% load static %}
{% block content %}
	<section id="form"><!--form-->
		<div class="container">
			<div class="row">
				<div class="col-sm-4 col-sm-offset-1">
					<div class="login-form"><!--login form-->
						<form method="POST">
							{% csrf_token %}
							 {% for message in messages %}
                            <center><font color="red"><h3>{{message}}</h3></font></center>
                            {% endfor %}
						<h2>Login to your account</h2>
							 <input name="username" class="form-control" type="text" placeholder="Username" required>
							<input name="password" class="form-control" type="text" placeholder="Password" required>
							<span>
								<input type="checkbox" class="checkbox">
								Keep me signed in
							</span>
							<button type="submit" class="btn btn-default">Login</button>
						</form>
					</div><!--/login form-->
				</div>
				<div class="col-sm-1">
					<h2 class="or">OR</h2>
				</div>
				<div class="col-sm-4">
					<div class="signup-form"><!--sign up form-->
                     <form method="POST">
                            {% csrf_token %}
                            {% for message in messages %}
                            <center><font color="red"><h3>{{message}}</h3></font></center>
                            {% endfor %}
						<h2>New User Signup!</h2>
							<input name = "first_name" class="form-control" type="text" placeholder="First Name" required/>
                            <input name = "last_name" class="form-control" type="text" placeholder="Last Name"required/>
							<input name = "email" class="form-control" type="email" placeholder="E-mail Address" required/>
                            <input name = "username" class="form-control" type="text" placeholder="User Name"required/>
							<input name = "password" class="form-control" type="password" placeholder="Password" required/>
                            <input name = "cpassword" class="form-control" type="password" placeholder="Confirm Password" required/>
							<button type="submit" class="btn btn-default">Signup</button>
                        </form>
					</div><!--/sign up form-->
				</div>
			</div>
		</div>
	</section><!--/form-->

{% endblock %}